CompileFlags:
  CompilationDatabase: build/clang-cuda
  Compiler: clang++
  Remove:
    - -forward-unknown-to-host-compiler
    - -ccbin=*
    - -allow-unsupported-compiler
    - -arch=*
    - -rdc=true
    - -x
    - cu
  Add:
    - --cuda-path=/usr/local/cuda
    - --cuda-gpu-arch=sm_75
    - -xcuda
