CompileFlags:
  Add:
    - --cuda-path=/usr/local/cuda
    - --cuda-gpu-arch=sm_89

  Remove:
    - -forward-unknown-to-host-compiler
    - -rdc=true
    - -gencode=*
    - --generate-code=*
    - --options-file